<app-header class=""></app-header>
<app-navbar></app-navbar>
<div class="container mt-md-8 mt-4 animated fadeIn">

  <h3 class="text-center title font-weight-bold">Return and exchange</h3>
  <hr class="mt-1 mb-3">

  <div class="return-exchange">
    <div class="">
      <div class="">
        <h4 class="font-weight-bold">For instore items:</h4>
        <p class="ml-3">
          - Return or exchange within 7 days from the day of purchase with original receipt.

          Items must be in original condition. Have not been worn, washed or altered.

          No return or exchange for sale items.
        </p>
      </div>
      <!--  -->
      <div class="">
        <h4 class="font-weight-bold">Custom made items:</h4>
        <p class="ml-3">
          - Each dress to be made individually so there is no return or exchange or change of mind accepted unless the
          dress is faulty or not match the original agreement.
        </p>
      </div>
      <!--  -->
      <div class="">
        <h4 class="font-weight-bold">Cancellations:</h4>
        <p class="ml-3">
          - You might able to cancel your order within 48 hours after the order is confirmed please contact ASAP for the
          issue.
        </p>
      </div>
    </div>
  </div>
</div>