<div class="container-fluid mt-3 mobile-device d-md-block d-none">
    <div class="row">
        <!-- sociaty -->
        <div class="col-md-4">
            <div class="d-inline  mr-2">
                <a style="color: black !important" target="_blank" href="https://fb.com/nkbridalaustralia"
                    class="fab fa-facebook bg"></a>
            </div>
            <div class="d-inline">
                <a style="color: black !important" target="_blank" href="https://instagram.com/nkbridalaustralia"
                    class="fab fa-instagram"></a>
            </div>
        </div>
        <!-- title -->


    </div>
</div>