<div class="container-fluid mt-3 mobile-device d-md-block d-none">
    <div class="row">
        <!-- sociaty -->
        <div class="col-md-4">
            <div class="d-inline  mr-2">
                <a style="color: black !important" target="_blank" href="https://fb.com/nkbridalaustralia"
                    class="fab fa-facebook bg"></a>
            </div>
            <div class="d-inline">
                <a style="color: black !important" target="_blank" href="https://instagram.com/nkbridalaustralia"
                    class="fab fa-instagram"></a>
            </div>
        </div>
        <!-- title -->
       
       
    </div>
    <div class="row my-4">
        <div class="col-12 text-center">
            <img class="animated fadeIn" [routerLink]="['/home']" src="../../../assets/brand/Asset 1@4x.png"
                width="320pt" height="100pt" alt="">
        </div>
    </div>
</div>