<div class="container-fluid mt-3 mobile-device d-md-block d-none">
    <div class="row">
        <!-- sociaty -->
        <div class="col-md-4">
            <div class="d-inline  mr-2">
                <a style="color: black !important" target="_blank" href="https://facebook.com"
                    class="fab fa-facebook bg"></a>
            </div>
            <div class="d-inline">
                <a style="color: black !important" target="_blank" href="https://www.instagram.com"
                    class="fab fa-instagram"></a>
            </div>
        </div>
        <!-- title -->
        <div class="col-md-4  text-center">
            <p class="d-inline display-5">We ship world-wide using Australia Post</p>
        </div>
        <!-- function -->
        <div class="col-md-4 text-center text-md-right ">
            <div class="d-inline">
                <i class="fas fa-search mr-2"></i>
                <i [routerLink]="['/home']" class="fas fa-home mr-2"></i>
                <i class="fas fa-user mr-2"></i>
                <select class="mr-4" name="" id="">
                    <option value="">AUD</option>
                    <option value="">USD</option>
                    <option value="">CAD</option>
                    <option value="">EUR</option>
                    <option value="">GBP</option>
                </select>


                <p class="d-inline mr-2" style="font-size: 11pt;">MY CART</p>
                <i class="d-inline fas fa-shopping-cart"><span class="font-weight-light"> 0</span></i>
            </div>
            <!-- ===== -->

        </div>
        <!--  -->
    </div>
    <div class="row my-4">
        <div class="col-12 text-center">
            <img [routerLink]="['/home']" src="../../../assets/brand/Asset 1@4x.png"
                width="320pt" height="100pt" alt="">
        </div>
    </div>
</div>