/* Responsive */
@media only screen and (min-width: 768px) {
  .parent:hover {
    .hover {
      display: block;
    }
  }
  
}
@media only screen and (max-width: 768px) {
  .carousel-caption{
    display: none;
  }
  .direct-mobile {
    display: none;
  }
  .image-type {
    width: 100% !important;
    height: 50% !important;
    margin-bottom: 10pt;
  }
  .mobile {
    display: block;
  }
  .image {
    width: 160px !important;
    height: 200px !important;
  }
  .disc {
    white-space: pre-wrap;
    margin: 0 auto !important;
  }
  .group {
    margin-top: 60pt !important;
  }
  .text-mobile-big {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 150;
  }
  .text-mobile-normal,
  .text-mobile-big {
    font-size: 13pt;
  }
  .btn-mobile {
    font-size: 10pt;
    padding: 0pt;
    width: 30%;
    height: 10%;
  }
  .double {
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 13pt;
  }
  .parent:hover {
    .hover {
      display: none;
    }
  }
  .btn-shop {
    color: white !important;
    text-align: center;
    top: 80% !important;
    width: 100%;
    font-size: 0pt;
  }
}
/* =================== */
.text-dark-max {
  color: black !important;
}
.bg-dark-max {
  background-color: black !important;
}

.size-img {
  height: 100%;
  width: 100%;
}
.mobile {
  display: none;
}

.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%; /* Adjust this value to move the positioned div up and down */
  font-family: Arial, sans-serif;
  color: #000000;
  height: 20%;
  width: 80%; /* Set the width of the positioned div */
}
.hover:hover {
  background-color: pink !important;
}

h3 {
  font: 20px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

h3.background {
  position: relative;
  z-index: 1;

  &:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: rgb(255, 241, 244);
    padding: 0 15px;
  }
}

h3.double:before {
  /* this is just to undo the :before styling from above */
  border-top: none;
}

h3.double:after {
  border-bottom: 1px solid rgb(184, 181, 181);
  /* -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red; */
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.shop {
  background-image: url("../../../assets/background/Banner-2.jpg");
  height: 45vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 50%;
}
.btn-dark {
  background-color: black !important;
  border: none;
}
h2,
p {
  color: black !important;
}
.group {
  margin-top: 15%;
}

/* =======SLIDE=======. */
drag-scroll {
  height: 100%;
  width: 100%;
}
.image {
  margin: auto;
  padding: auto;
  height: 352px;
  width: 263px;
}

.disc {
  color: black !important;
  font-size: 9pt;
}
.price {
  text-align: center;
  font-size: 9pt;
}

.hover {
  display: none;
}

.hover:hover {
  background-color: white !important;
  color: black !important;
}
//=======FOLLOW=======
.link-to-info {
  margin-right: 15pt;
}
section {
  overflow-x: hidden;
}
// image type
.title {
  font-family: "Lucida Sans";
  color: black !important;
  text-align: center;
  padding-top: 95%;
  width: 100%;
  height: 100%;
  font-size: 25pt;
}
.parent:hover {
  .title {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20pt;
  }
  .btn-shop {
    font-size: 15pt;
  }
}

.image-type {
  width: 100% !important;
  height: 500px;
}

.btn-shop {
  color: white !important;
  text-align: center;
  top: 73%;
  width: 100%;
  font-size: 0pt;
}

.btn-show {
  display: none;
}
.btn-show:hover {
  display: block;
}
