<section class="section-model mt-md-3" style="margin-top: 20pt;">
  <div class="mobile text-center mb-3">
    <img [routerLink]="['/home']" src="../../../assets/brand/61202805_433407974137945_1814405193278685184_n.png"
      width="70%" height="85pt" alt="">
  </div>

  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-interval=false data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/formal_cover_1944x.jpg?v=1542300944"
            alt="First slide">
        </div>
        <div class="carousel-caption">
          <div class="parent-caption">
            <h1 class="h1-responsive font-weight-bold">THE DREAMY BRIDESMAID</h1>
            <p class="h4 font-weight-light">we help you to create the dream squad</p>
            <a href="" class="btn btn-md btn-black">shop bridesmaids dresses</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/bridal_cover_1944x.jpg?v=1542300394"
            alt="Second slide">
        </div>
        <div class="carousel-caption">
          <h2 class="h2-responsive font-weight-bold">THE DREAMY BRIDESMAID</h2>
          <p>we help you to create the dream squad</p>
          <a href="" class="btn btn-black">shop bridesmaids dresses</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/bridesmaids_cover_1944x.jpg?v=1542299966"
            alt="Third slide">
        </div>
        <div class="carousel-caption">
          <h2 class="h2-responsive font-weight-bold">THE DREAMY BRIDESMAID</h2>
          <p>we help you to create the dream squad</p>
          <a href="" class="btn btn-black">shop bridesmaids dresses</a>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->

</section>
<!--  -->
<section class="section-style mt-4">
  <div class="container">
    <div class="row">
      <!-- 1 -->
      <div class="col-12 col-md-4">
        <div class="parent position-relative overflow-hidden">
          <p style="cursor: default" class="title position-absolute">FORMAL / PROM</p>
          <a class="btn-shop position-absolute">Shop Now</a>
          <div class="">
            <img class="rounded image-type" style="z-index: 15pt;"
              src="https://cdn.shopify.com/s/files/1/0908/9320/files/PA162450_edited_540x.jpg?v=1542864753" alt="">
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-12 col-md-4">
        <div class="parent position-relative overflow-hidden">
          <p style="cursor: default" class="title position-absolute">WEDDINGDRESS</p>
          <a class="btn-shop position-absolute">Shop Now</a>
          <img class="rounded image-type"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P8220187_FITTED_540x.jpg?v=1542865688" alt="">
        </div>
      </div>
      <!-- 3 -->
      <div class="col-12 col-md-4">
        <div class="parent position-relative overflow-hidden">
          <p style="cursor: default" class="title position-absolute">BRIDESMAID</p>
          <a class="btn-shop position-absolute">Shop Now</a>
          <img class="rounded image-type"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/PA303297_540x.JPG?v=1542865804" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<section class="section-quotes">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="background double"><span>Welcome</span></h3>
      </div>
      <div class="col-12 mt-4">
        <div class="content text-center text-muted" style="font-size: 10pt">
          We are the most unique custom-made business in Brisbane and Australia since we offer the widest range of
          custom made formal and wedding dresses. You can either choose from our in-house collection or email us with
          the dream dress you want. We can make it fit perfectly for you. We also get inspirations from haute couture
          collections and celebrities' dresses around the world and convert these ideas into your dream dress. We are
          available for video chat for customers outside Brisbane, Australia for face to face consultation and measuring
          sessions. Almost all of the styles featured in our website are real dresses worn by our real customers for
          their formal and wedding so you can see how well our dresses fit.
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</section>
<!--  -->
<section class="section-slide mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="background double"><span>Featured collection</span></h3>
      </div>

      <div class="col-12">
        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-interval=false
          data-ride="carousel">

          <!--Controls-->
          <div class="container direct-mobile">
            <div class="d-flex justify-content-between">
              <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
                  class="fas fa-angle-left fa-lg"></i></a>
              <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
                  class="fas fa-angle-right fa-lg"></i></a>
            </div>
          </div>
          <!--/.Controls-->

          <div class="container">
            <div class="carousel-inner v-2" role="listbox">
              <!-- 1 -->
              <div class="carousel-item active">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/PA260682_360x.jpg?v=1555312100"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/Alex-foote-PA140371_1_360x.jpg?v=1542875338"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3 -->
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/PA021724_edited_360x.jpg?v=1555091925"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4 -->
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/PB011059-cleanbase-selective-color_360x.jpg?v=1555435970"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 5 -->
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/PB131580_360x.jpg?v=1555345700"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 6 -->
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top"
                      src="https://cdn.shopify.com/s/files/1/0908/9320/products/P5063177_360x.jpg?v=1555308358"
                      alt="Card image cap">
                    <div class="card-body text-center">
                      <h4 class="card-title font-weight-bold">Alani red lace mermaid dress</h4>
                      <p class="card-text">$699.00</p>
                      <a class="btn pink btn-md btn-rounded animated heartBeat infinite">QUICK VIEW</a>
                    </div>
                  </div>
                </div>
              </div>
              <!--========END========-->
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!--  -->
<section class="shop">
  <div class="container d-flex flex-column">
    <div class="group text-center">
      <h2 class="text-mobile-big">CREATE YOUR DREAM DRESS NOW</h2>
      <p class="text-mobile-normal">Stand out as much as you can</p>
      <button class="btn btn-mobile btn-dark text-light">Shop Now</button>
    </div>
  </div>
</section>
<!--  -->
<section class="section-follow mb-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h3 class="background double"><span>Follow us on Instagram</span></h3>
      </div>

      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3 col-md-6 col-lg-3 mt-md-2">
              <img width="175px" height="218px"
                src="https://scontent.cdninstagram.com/vp/7c225e8d81aacb46b3353db2b9a76c95/5D7B31C3/t51.2885-15/sh0.08/e35/p640x640/56669844_109939000095747_8391294405297374331_n.jpg?_nc_ht=scontent.cdninstagram.com"
                alt="">
            </div>
            <div class="col-12 mt-3 col-md-6 col-lg-3 mt-md-2">
              <img width="175px" height="218px"
                src="https://scontent.cdninstagram.com/vp/0d45ff08e284ad0dc2d6954f88abefd8/5CE8584F/t51.2885-15/sh0.08/e35/s640x640/60371189_454080452057049_3833243056040001566_n.jpg?_nc_ht=scontent.cdninstagram.com"
                alt="">
            </div>
            <div class="col-12 mt-3 col-md-6 col-lg-3 mt-md-2">
              <img width="175px" height="218px"
                src="https://scontent.cdninstagram.com/vp/47f92478df71dcd268560e7fa90f4f7b/5CE836BE/t51.2885-15/sh0.08/e35/s640x640/58790383_283834479162649_7927177513333653670_n.jpg?_nc_ht=scontent.cdninstagram.com"
                alt="">
            </div>
            <div class="col-12 mt-3 col-md-6 col-lg-3 mt-md-2">
              <img width="175px" height="218px"
                src="https://scontent.cdninstagram.com/vp/594d3226d2acbda26a7fe933ac8f4e8b/5D9BCB87/t51.2885-15/sh0.08/e35/s640x640/58654837_309543333307093_8529465583733743904_n.jpg?_nc_ht=scontent.cdninstagram.com"
                alt="">
            </div>
            <div class="col-12 mt-3 col-md-6 col-lg-3 mt-md-2">
              <img width="175px" height="218px"
                src="https://scontent.cdninstagram.com/vp/dfde42e206265f73e11e7cc5f0832306/5CE7F525/t51.2885-15/sh0.08/e35/s640x640/59800085_155592975480064_451643743800272606_n.jpg?_nc_ht=scontent.cdninstagram.com"
                alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>