<app-header class=""></app-header>
<app-navbar></app-navbar>

<div class="container mt-md-8 mt-4 animated fadeIn">
  
  <h3 class="text-center title font-weight-bold">About us</h3>
  <hr class="mt-1 mb-3">

  <div class="about my-3">
    <div class="text-center" style="font-size: 16pt;line-height: 1.5rem">
      <span class="font-weight-bold">Welcome to NK Bridal By Nancy K</span>
      <br/>
      <br/>
      If you are looking for something unique, perfect fit, affordable, personal service. You are at right place.
      <br/>
      <br/>
      Nancy K is also known as Nancy Khau who established her custom made dresses and bridal fashion since 2013, a
      former owner of Nancy Khau Boutique from 2013 to end 2017, Early 2018 she moved to the US, took 15 months off to
      travel, to learn and to improve her skills. Now she’s back with her completely brand new line, a beautiful shop
      located in Brisbane city.
      <br/>
      <br/>
      She’s passionate about dresses and modern bridal fashion ideas and proud to be one of a
      small number of bridal designers who still make every gown individually for every customer.
      <br/>
      <br/>
      For us, no job is too small, no job is too big. We love challenges, love working with new projects and we always listen
      and try to understand you to make sure we are on the same page before we take your order. We also give honest advices
      for each individual customer because we believe each of us has a different body shape, different ways of look at
      things. We don’t just tell you our thinking, we also listen to your ideas to make sure we can together create your
      one of a kind dress that you are might be the only one in the world has this dress.
      <br/>
      <br/>
      Now the most asked question? What budget should I be looking at? We do affordable to luxury; it means there are
      many ways to work with your budget. We will show you different kind of fabrics that would be great with your
      budget but likely your dress would start from $300 to $2500.
      <br/>
      <br/>
      You will able to see your fabrics in person before we make your dress to make sure you are completely happy with
      your dress step by step so don’t hesitate to contact us today to schedule an appointment to visit our store so we
      can start create and make your dream dress come true.
    </div>
  </div>
</div>