<div class="container mt-md-3 mt-8">
  <h3 class="text-center">About us</h3>
  <hr class="mt-1 mb-3">

  <div class="about">
    <div class="text-muted" style="font-size: 10pt">
      <p>Hello beautiful ladies who are looking for the perfect formal or wedding dress,</p>
      <p>You have arrived at the right place! We are a very unique custom-made business which works so closely with our
        dear customers to create their dream dresses for their most important events such as wedding, formal, prom,
        birthday, debutante and so on. No job is too hard or too difficult for us given enough time and budget. So if
        you cannot find your dream dress from our extensive in-house collections, please send us an email and state your
        budget or the style you like, we can make your dream a reality.</p>
      <p>Almost all of the dresses featured in this website are real dresses worn by our real beautiful customers. The
        reason for this comes from our deep-seated belief that girls are beautiful in all shapes and sizes and our jobs
        are to create dresses which will be flattering on your specific body type. Furthermore, you can trust our
        excellent tailoring and designing abilities since we understand different body types and we work with all types
        of fabric to create the dreamiest dresses. Every dress will be checked carefully before shipping to you since
        your satisfaction is our utmost priority. </p>
      <p>If you live in Brisbane and nearby areas, please book a meeting with us to visit our studio at 70 Warrender
        Street, Darra, Queensland, 4076.
        If you cannot travel and still wish to talk to us face to face, please send us an email, we will answer you
        within 24 hours.</p>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P1010745-edited_large.jpg?v=1542883306" alt="">
        </div>
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P1010402_eited_large.jpg?v=1542883367" alt="">
        </div>
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P7251971_edited_large.jpg?v=1542883476" alt="">
        </div>
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P7021505_dited_large.jpg?v=1542883789" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/PA303268_large.JPG?v=1542883830" alt="">
        </div>
        <div class="col-lg-3 my-2">
          <img height="330px" width="255px"
            src="https://cdn.shopify.com/s/files/1/0908/9320/files/P9072282_large.JPG?v=1542883883" alt="">
        </div>
      </div>
    </div>
  </div>
</div>