<app-header></app-header>
<app-navbar></app-navbar>
<!--  -->
<div class="container d-flex flex-column">
  <h3 class="my-4 text-center">Wedding dersses</h3>
  <p class="text-muted">Destiny Chic proudly presents our unique and whimsical bridal series which you cannot find anywhere else. We can
    make the dress in standard size or custom-made size for you. If you want modifications to the original design, we
    can do that as well at an extra charge.
    We can also help you to design and make a new dress from scratch, just get in contact with us via
    customerservice@destinychic.com.au or send us a message through our Facebook inbox, we will get in contact with you
    immediately so we can discuss the project in details.

    After all, it is the most important day for you and we would love to make sure you are happy with your most
    important dress. </p>
  <div class="row">
    <div class="col-12 col-md-2">
      <select id="sort-by" class="w-100">
        <option value="manual">Featured</option>
        <option value="price-ascending">Price, low to high</option>
        <option value="price-descending">Price, high to low</option>
        <option value="title-ascending">Alphabetically, A-Z</option>
        <option value="title-descending">Alphabetically, Z-A</option>
        <option value="created-ascending">Date, old to new</option>
        <option value="created-descending">Date, new to old</option>
        <option value="best-selling">Best Selling</option>
      </select>
    </div>
    <!--  -->
    <div class="col-12 col-md-1 p-md-0 p-3">
      <select class="w-100">
        <option value="">Filter by</option>
        <option value="black">black</option>
        <option value="red">red</option>
        <option value="white">white</option>
        <option value="maroon">maroon</option>
        <option value="gold">gold</option>
        <option value="rose-gold">rose gold</option>
        <option value="pink">pink</option>
        <option value="royal-blue">royal blue</option>
        <option value="blue">blue</option>
        <option value="nude">nude</option>
      </select>
    </div>
    <!--  -->
    <div class="col-12 col-md-2 pr-md-0 d-flex align-items-center justify-content-md-start justify-content-center">
      <div class="d-inline">
        <a href="" class="text-dark fas fa-angle-left"></a>
      </div>
      <span class="mx-2">1 of 3</span>
      <div class="d-inline">
        <a href="" class="text-dark fas fa-angle-right"></a>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="container text-center mt-3 mb-4">
  <div class="row">
    <div *ngFor="let list of lists" class="col-md-3 col-12 mb-3">
      <div class="model-parent position-relative text-center">
        <a href="" class="btn btn-sm blue text-dark font-weight-bold position-absolute" data-toggle="modal"
          data-target="#quick">QUICK VIEW</a>
        <img class="img-model img-fluid h-100 h-md-auto border mx-auto d-block" [src]="list.img" alt="">
      </div>
      <p class="mb-0">{{list.name}}</p>
      <p class="text-muted">{{list.price | currency}}</p>
    </div>
  </div>
</div>

<div id="quick" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="quick" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-8">
          test
        </div>
        <div class="col-md-4">
          <div class="container">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>