@media only screen and(min-width: 768px) {
  .custom-select {
    width: auto;
  }
  .h-md-auto {
    height: auto !important;
  }
}
@media only screen and(max-width: 768px) {
  .model-parent {
    a {
      display: none !important;
    }
    img {
      height: 27rem !important;
    }
  }
}
select {
  padding: 5px;
  background-color: white;
}

.blue {
  background-color: rgb(138, 232, 255) !important;
}

.model-parent {
  text-align: center;
  padding: 0;
  a {
    display: none;
    box-shadow: none;
    position: absolute;
    top: 18rem;
    left: 2rem;
    right: 2rem;
  }
  img {
    border-radius: 5px;
    height: 23rem;
    width: 100%;
  }
}
.model-parent:hover {
  a {
    display: block;
  }
}
