@media only screen and (max-width: 768px) {
  .mt-5 {
    margin-top: 4rem !important;
  }
  .mt-custom {
    margin-top: 60px;
  }
}
@media only screen and(max-width: 965px) {
  .mt-md-8 {
    margin-top: 5rem;
  }
}
// Brand
.brand{
    height: 5rem;
  }

.form-text{
  font-size: 20px;
}