<app-header ></app-header>
<app-navbar></app-navbar>

<div class="container mt-md-8 mt-4">
  
  <h3 class="text-center font-weight-bold title animated fadeIn">Contact Us</h3>
  <hr class="mt-1 mb-3">

  <div class="contact-us font-lg animated fadeIn my-5">
    <!-- Store Name -->
    <div class="form-text">
      <h4 class="d-inline font-weight-bold mr-2">Our store:</h4>
      <p class="d-inline ">NK Bridal Australia</p>
    </div>
    <!-- Address -->
    <div class="form-text">
      <h4 class="d-inline font-weight-bold mr-2">Address:</h4>
      <p class="d-inline ">SHOP 03/22 Barry Parade, Fortitude Valley, 4006 QLD</p>
    </div>
    <!-- Phone Number -->
    <div class="form-text">
      <h4 class="d-inline font-weight-bold mr-2">Phone:</h4>
      <p class="d-inline ">0433&nbsp;575 &nbsp;335</p>
    </div>
    <!-- Email -->
    <div class="form-text">
      <h4 class="d-inline font-weight-bold mr-2">Email:</h4>
      <p class="d-inline ">nkbridalaustralia@gmail.com</p>
    </div>
    <!-- Sociaty -->
    <div class="form-text">
      <h4 class="d-inline font-weight-bold mr-2">Facebook and Instagram:</h4>
      <p class="d-inline ">nkbridalaustralia</p>
    </div>
  </div>
</div>