<footer *ngIf="footer" class="page-footer font-sm blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 mt-md-0 text-light mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" style="font-size: 30px">{{footer.Title}}</h5>
          <h5>{{footer.by | uppercase}}</h5>
          <p class="h4">ABN: {{footer.ABN}}</p>
          <p class="h4">Address: {{footer.Address}}</p>
          <p class="h4">Phone: {{footer.NumPhone}}</p>          
          <p class="h4">Email: {{footer.Email}}</p>
        </div>
        <!-- Grid column -->

        <!--  -->
        
  
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright h5 text-light text-center py-3">© 2019 Copyright:
      <a class="text-light">{{footer.Copyright}}</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->