<nav style="z-index: 10;" class="navbar navbar-expand-lg py-2 p-lg-0 sticky-top {{isSticky == true ? 'sticky-top-mobile':''}} blue navbar-light animated fadeIn">
  <div class="navbar-toggler">
    <div class="d-lg-none d-inline-flex align-items-center control">
        <a style="color: black !important;font-size: 30px" class="fas fa-bars mr-2 align-self-center" data-toggle="collapse"
        data-target=".collapse"></a>

      <div class="" style="font-size:18px">
        <a style="color: black !important" [routerLink]="['/home']" class="fas fa-home"></a>
        <a style="color: black !important" target="_blank" href="https://fb.com/nkbridalaustralia"
          class="fab fa-facebook mx-2"></a>
        <a style="color: black !important" target="_blank" href="https://instagram.com/nkbridalaustralia"
          class="fab fa-instagram"></a>
      </div>
    </div>
  </div>

  <!-- Toggler/collapsibe Button -->


  <!-- Navbar links -->
  <div class="navbar-collapse collapse text-center" id="navbarCollapse">
    <ul class="navbar-nav h-100 m-auto">
      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/collections/formal']">FORMAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/collections/wedding']">BRIDAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/collections/bridesmaid']">BRIDESMAIDS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/collections/special-offers']">Special Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/return-exchange']">Return and exchange</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold" [routerLink]="['/about-us']">ABOUT
          US</a>
      </li>

      <li class="nav-item">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          [routerLink]="['/contact-us']">Contact Us</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link h-100 p-3" style="color:white !important;font-weight:bold"
          routerLink="/collections/real-people">Real People, Real Story</a>
      </li>
    </ul>
  </div>

</nav>