<nav class="navbar navbar-expand-md fixed-top-custom blue navbar-light animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-12 flex-center">
        <div class="d-sm-block d-md-none mb-2">We ship world-wide using Australia Post</div>
      </div>

      <div class="col-12 flex-center pr-4">
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target=".collapse"
          aria-controls="navbarSupportedContent1" aria-expanded=false aria-label="Toggle navigation"><span
            class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

        <div class="mobile-device flex-center">
          <div class="d-inline">
            <i [routerLink]="['/home']" class="fas fa-home d-inline" style="margin-right: 8pt"></i>
            <i class="fas fa-user d-inline" style="margin-right: 8pt"></i>
          </div>
          <div class="d-inline mr-4">
            <select class="d-inline" name="" id="">
              <option value="">AUD</option>
              <option value="">USD</option>
              <option value="">CAD</option>
              <option value="">EUR</option>
              <option value="">GBP</option>
            </select>
          </div>
          <span style="width: 100%; font-size: 12pt;">MY CART</span>
          <span class="fas fa-shopping-cart m-auto pl-2"><span class="ml-2">0</span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Toggler/collapsibe Button -->


  <!-- Navbar links -->
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav flex-center">
      <li class="nav-item">
        <a class="nav-link h-100 p-3" [routerLink]="['/collections/prom-formal-dress']">FORMAL</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" [routerLink]="['/collections/wedding-dresses']">BRIDAL</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" [routerLink]="['/collections/bridesmaid-dress']">BRIDESMAIDS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" [routerLink]="['/about-us']">ABOUT US</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" [routerLink]="['/return-exchange']">Return and exchange</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" [routerLink]="['/contact-us']">Contact Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link h-100 p-3" href="#">Real people, realstory</a>
      </li>

    </ul>
  </div>

</nav>

<div class="brand d-block d-md-none text-center">
  <img [routerLink]="['/home']" width="200px" src="../../../assets/brand/Asset 1@4x.png" alt="">
</div>