<app-header></app-header>
<app-navbar></app-navbar>
<div class="container w-100 w-md-50 mt-3 mt-md-5 mb-5 animated fadeIn rounded " aria-disabled=true [class.disabled]="disable">
    <div class="form p-3 white shadow rounded">
        <div class="p-2 white border border-dark">
            <!-- Product Name -->
            <div class="form-group">
                <p class=" mb-0">Product Name:</p>
                <input [(ngModel)]="info.name" [placeholder]="editInfo.name" class="input-text w-100" type="text">
            </div>
            <!-- Price -->
            <div class="form-group">
                <p class=" mb-0">Prices:</p>
                <input [(ngModel)]="info.price" [placeholder]="editInfo.price" class="input-text w-100" type="text">
            </div>
            <div class="form-group">
                <p class="mb-0">Choose Product Image: </p>
                <input id="single-image" class="input-file" type="file" file accept="image/*">
            </div>
            <!-- Upload Images Group -->
            <div class="form-group">
                <p class="mb-0">Choose Thumbnail Images: </p>
                <input id="product-image" class="input-file" type="file" multiple accept="image/*">
            </div>
            
            <!-- Content -->
            <div class="form-group">
                <p>Description:</p>
                <textarea [(ngModel)]="info.content" [placeholder]="editInfo.content" class="w-100" rows="5" name="desc" id="desc"></textarea>
            </div>
            <!-- Product Category -->
            <div class="form-group">
                <p class=" mb-0">Category Name (important):</p>
                <div class="btn-group w-custom position-relative">
                    <div class="dropdown-toggle position-absolute my-2" style="right: 8px;"></div>
                    <select [(ngModel)]="info.category" class="btn btn-category">
                        <option *ngFor="let option of options; let i = index" name="option" class="dropdown-item">
                            {{option}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- Button upload -->
            <div *ngIf="!snapshotId" class="form-group text-right">
                <button (click)="uploadImage(optionSelected=info.category,info)" aria-disabled=true class="btn btn-blue text-light" [class.disabled]="disable">Upload</button>
            </div>
            <div *ngIf="snapshotId" class="form-group text-right">
                <button (click)="edit(optionSelected=info.category,info)" aria-disabled=true class="btn btn-red text-light" [class.disabled]="disable">edit</button>
            </div>
        </div>

    </div>
</div>