<nav class="navbar navbar-expand-md fixed-top-custom ripe-malinka-gradient navbar-light">
  <div class="row">
    <div class="col-12">
      <div class="d-sm-block d-md-none mb-2 text-center">We ship world-wide using Australia Post</div>
    </div>

    <div class="col-2 d-flex">
      <div class="">
        <button class="navbar-toggler" style="font-size: 10pt; padding: 0 2pt 0pt 2pt;" type="button"
          data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="mobile-device ml-2 d-flex" style="margin-top: 0pt;">
        <div class="">
          <i [routerLink]="['/home']" class="fas fa-home d-inline" style="margin-right: 8pt"></i>
          <i class="fas fa-user d-inline" style="margin-right: 8pt"></i>
        </div>
        <div class="">
          <select class="mr-4" name="" id="">
            <option value="">AUD</option>
            <option value="">USD</option>
            <option value="">CAD</option>
            <option value="">EUR</option>
            <option value="">GBP</option>
          </select>
        </div>
        

      </div>
    </div>
  </div>

  <!-- Toggler/collapsibe Button -->

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">FORMAL/PROM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDAL</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDESMAIDS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" [routerLink]="['/about-us']">ABOUT US</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">RETURN & REFUND POLICY</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDESMAIDS</a>
      </li>

    </ul>
  </div>

</nav>

<div class="brand d-block d-lg-none text-center" >
  <img [routerLink]="['/home']" width="200px"
    src="../../../assets/brand/61202805_433407974137945_1814405193278685184_n.png" alt="">
</div>