<nav class="navbar navbar-expand-md nav-fix fixed-top-custom ripe-malinka-gradient navbar-light">
  <div class="row">
    <div class="col-12">
      <div class="d-sm-block d-md-none mb-3">We ship world-wide using Australia Post</div>
    </div>

    <div class="col-2">
      <button class="navbar-toggler" style="font-size: 10pt; padding: 0 2pt 0pt 2pt;" type="button"
        data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <!-- Toggler/collapsibe Button -->

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">FORMAL/PROM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDAL</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDESMAIDS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" [routerLink]="['/about-us']">ABOUT US</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">RETURN & REFUND POLICY</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-3" href="#">BRIDESMAIDS</a>
      </li>

    </ul>
  </div>
</nav>